<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CargoV3</title>
    <base href='@Url.AbsoluteContent("~/")'>
    @await Html.PartialAsync("../Navigasi/_Styles")

</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">

    <div class="wrapper">
        <!-- Navbar -->
        @await Html.PartialAsync("../Navigasi/_Header")
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        @await Html.PartialAsync("../Navigasi/_SidebarLeft")

        @RenderBody()

        @await Html.PartialAsync("../Navigasi/_SidebarRight")
        @await Html.PartialAsync("../Navigasi/_Footer")

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
    </div>

    @await Html.PartialAsync("../Navigasi/_Scripts")
    @RenderSection("Scripts", required: false)
</body>
</html>
